/*
    CSS Guide

    HOME
    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. Features 1
    6. New Flavours
    7. Features 2
    8. Recipes
    9. Clients
    10. Visit us
    11. Footer

    CONTACT
    1. Contact form
*/

/* HOME */

/* 1. General Styles */
.hidden { display: none;}

body {
    font-family: 'comfortaa', arial, sans-serif;
    font-size: 15px;
    text-align: justify;
    margin: 0;
    padding: 0;
}

.container {
    width: 375px;
    margin: 0 auto;
    border: solid 1px #d8d2dd;
}

a {
	text-decoration: none;
	transition: all .5s ease-in-out;
}

/* 2. Grid */

.grid {
    display: grid;
    padding-left: 10px;
    padding-right: 10x;
    grid-template-columns: repeat(4, 70px);
    grid-column-gap: 30px;
}

/* 3. Header */

#main-header {
    position: sticky;
	background-color: #fff;
}

#header-logo {
    grid-column: 2/4;
}

#header-nav {
    grid-column: 1/4;
}

#header-nav label img {
    background-image: url(../images/burger.svg) center no-repeat;
    border: 0px;
	width: 50px;
	height: 20px;
	transition: all .5s ease;
    margin-top: 10px;
    cursor: pointer;
}

#header-nav ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

#header-nav li a {
    color: rgb(71, 35, 112);
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
}

#header-nav li {
    border-bottom: 1px solid #efefef;
}

#header-nav li:first-child {
    border-top: 1px solid #efefef;
}

#header-nav li:last-child {
    margin-bottom: 10px;
}

#burger-con, #header-nav input {
    display: none;
}

#header-nav input:checked ~ #burger-con {
    display: block;
}

#header-nav input:checked ~ label img{
    transform: rotate(90deg);
}

#header-nav ul li a:hover {
    
    border-bottom: 5px solid #5b0da3;
    padding-bottom: 3px;
}

.log-in {
    background-color: #e5e6fc;
    color: #080808;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#log-in-top {
    grid-column: 9/11;
    text-align: center;
}

#log-in-top:hover {
    background-color: #bf9efc;
}
    

/* 4. Main Hero Image */

#hero { 
    margin-top: 5px;
}

.hero-image {
    grid-column: 1/-1;
    grid-row: 1/3;
}

#explore {
    grid-column: 2/4;
    grid-row: 1/1;
    margin-top: 0px;
    color: #fff;
}

#explore:hover {
    color: #fdc3fd;
}

#tag-line {
    grid-column: 2/4;
    grid-row: 2/2;
    margin-bottom: 0px;
    align-self: end;
    color: #fff;
    text-align: center;
}

/* 5. Features 1 */

#features1 {
    display:block;
    margin-top: 30px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

/* 6. New Flavours */

#new-flavours {
    margin-top: 0px;
    background-color: #ede7f8;
}

.hero-image2 {
    grid-column: 1/4;
    grid-row: 3/3; 
}

#tag-line2 {
    grid-column: 1/4;
    margin-top: 10px;
    text-align: center;
    margin-left: 50px;
    
}

/* 7. Features 2 */

#features-con {
    margin-top: 30px;
    display: block;
    text-align: center;
}

/* 8. Recipes */

#recipes {
    background-color:#ede7f8;
}

.hero-image3 {
    margin-top: 10px;
}

#tag-line3 {
    margin-top: 0px;
    text-align: center;
    grid-column: 1/4;
    grid-row: 3/3;
    margin-bottom: 10px; 
    margin-left: 80px;
}


#more-recipes:hover {
    background-color: #a896f7;
}

/* 9. Clients */

#clients {
    display: block;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
}

/* 10. Visit us */

#location {
    background-color: #ede7f8;
}

.hero-image4 {
    grid-column: 1/4;
    margin-top: 20px;
    border-radius: 10%;
}

#visit-us {
    grid-column:1/4;
    grid-row: 1/3;
    
}

#tag-line4 {
    grid-column: 2/4;
    margin-bottom: 40px;
    align-self: center;
}

/* 8. Footer */


#footer-con-full {
    grid-column: 3/4;
    margin-top: 20px;
    margin-left:10px;
}

#footer-nav {
    margin-top: 15px;
    grid-column: 2/4;
    grid-row: 1/3;
}

#footer-social {
    grid-column: 1/4;
    grid-row: 1/2;
}

#info-footer {
    grid-column: 1/4;
    grid-row: 3/3;
    margin-bottom: 10px;
}

/* CONTACT */

/* 1. Contact form */

.contact-container {
    background-color: #ede7f8;
    margin-left: 10px;
    margin-right: 10px;
}

.contact-image {
    margin-top: 40px;
    margin-left: 20px;
      
}

#contact-form h2 {
    grid-column: 2/4;
    align-self: end;
}

#contact-form-text p {
    grid-column: 1/4;
    margin-left: 20px;
}

#contact-form-adress-left {
    grid-column: 1/4;
}

#contact-form-fields-right {
    grid-column: 1/4;
}

#contact-form-adress-left h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

#contact-form-adress-left p {
    margin-bottom: 20px;
}

#contact-form-fields-right form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 22px;
    border: 2px solid #8e6fc7;
    background-color: #f7f7f7;
    margin-bottom: 30px;
    
}

#contact-form-fields-right textarea {
    height: 300px;
}

input[type="submit"] {
    width: 100px;
    padding: 16px 32px;
    background-color: #9e62ff;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
    align-self: flex-end;
}

input[type="submit"]:hover {
    background-color: #4b2d64;
    
}